body
{
  background: orange;
}

.topcenter
{
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
}

.row
{
  margin-bottom: 20px;
}

.giphy-embed
{
  position: relative;
  padding-left: 100px;
}

.container
{
  width: 960px;

}
