
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{background: black;}
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.navbar {
    margin-bottom: 0;
    z-index:2;
}

.navbar-default {
    background-color: #303030;
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #f8a348;
    font-size: 20px;
}

.brand{
	color:#f8a348;
	font-size: 30px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #fff;
}
.list2{
	margin-left: 100px;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	
	
}

.list2:hover{
	border:none;
}


.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
   
    background-color: transparent;
}


 .section{ 
 	height: 96vh;
	overflow: hidden;
	background-color:rgb(81, 81, 81);
	max-height: 1000px;
  }



  

  .header{
  	color:#f8a348;
  	font-size: 100px;
  	font-family: 'Lato', sans-serif;
  	width: 700px;
  	margin: auto;
  	margin-top:10;

  }

  .header:hover{
  	transition:all 1s ease;
  	color:white;
  	
  }

 .section2{
	background-color: #f8a348;
	height: auto;
}
video{
	width:80%; 
	height:150%;
	margin-right:10%;
	margin-left:10%;
	background: grey;
	margin-bottom: 40px;
	border: 50px solid #efefef;
	border-radius: 50px;
}


.section3{
	background-color: #EFEFEF;
	padding-top: 50px;
	margin-bottom:  : 50px;

}
.cadre{
	
	border: solid 10px #f8a348;
	margin-bottom: 50px;
	border-radius: 20%;
	
	height: 100%
	padding:30px;
	
 }

 .cadre2{
	
	border: solid 10px #f8a348;
	margin-bottom: 50px;
	border-radius: 20%;
	overflow: hidden;
	height: 100%
	padding:30px;
	transition:all 2s ease;
	
 }

.cadre2:hover{
	
	width: 180%;
	transition:all 2s ease;

}

.cadre h2{margin-left: 40px;}
.cadre li{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.cadre p{
	margin-left: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.imgfoot{
	border-radius: 100%;
	border:solid 5px #f8a348;
	position: relative;
	left: -20px
}

.imgfoot:hover{
	transition: 1s all ease;
	
	transform: scale(1.5) rotateY(360deg);
}

footer p{
	color:#f8a348;
	margin-bottom: 20px;
}

footer {
	text-align: center;}
footer h2{
	color:#f8a348;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Indie Flower', cursive;

}

footer ul{
	margin-left: -30px;

}

.logowcs{margin-top: -25px;}


.logowcs:hover{
	transform:scale(1.5);
	transition:all 0.5s ease;
}
.fa-3x{color: #f8a348;}

.fa-3x:hover{
	transform:scale(1.5);
	transition:all 0.5s ease;
}


.reseausociaux{
	width:30%;
	margin:auto;
}

footer {
	background-color:black;
	padding-top: 20px;

}


footer li{

	color:#f8a348;
	display: inline-block;


}
.btn-outline-danger {background-color:#f8a348;}
